

.btn {
    &.btn-primary {
        background-color: $color-dark;
        border-color: $color-dark;
        transition: all .2s ease-in-out;

        &:hover {
            background-color: darken($color-dark, 15%);
            border-color: darken($color-dark, 15%);
        }
    }
}