html, body {
    font-family: var(--font-family-sans-serif);
}
body {
    padding-top: 3.5rem;
    background-color: $color-white;
    color: $color-dark;
    
}
main {
    padding: 2rem 0;
}
img {
    max-width: 100%;
}
a {
    color: $color-medium;
    transition: all .2s ease-in-out;

    &:hover {
        color: $color-dark;
    }
}