.navbar.fixed-top {
    background-color: $color-white;
    border-bottom: 1px solid $color-dark-a;
    box-shadow: 0 0 2rem $color-dark-a;
    img{
        max-height: 5vh;
    }
    .navbar-nav {
        font-size: 0.875rem;
        font-weight: bold;
        text-transform: uppercase;

        .active {
            a {
                color: $color-dark;
            }
        }
    }

    .navbar-toggler {
        padding: .25rem .5rem;

        .navbar-toggler-icon {
            width: 1em;
            height: 1em;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 767px) {
    .navbar.fixed-top {
        .container {
            max-width: 100%;
        }
    }
}