.page-link {
    color: $color-dark;
    min-width: 2.5rem;
    text-align: center;

    &:hover {
        color: darken($color-dark, 10%);
    }
}

.page-item {
    &.active {
        .page-link {
            background: $color-dark;
            border-color: $color-dark;
        }
    }
}