
$color-dark: #243407; /*forrest green*/
$color-medium: #daa520; /* goldenrod*/
$color-light: #daa520; /* gold */
$color-white: #fffdd0; /* cream*/

@import "inc/general";
@import "inc/type";
@import "inc/buttons";
@import "inc/cards";
@import "inc/navbar";
@import "inc/header";
@import "inc/blocks";
@import "inc/posts";
@import "inc/pagination";
